.block__main {
    height: 75%;
    width: 50%;
    min-height: 300px;
    min-width: 300px;
    border: 2px solid black;
}    

.block__feedback {
    height: 80%;
    width: 25%;
    min-height: 300px;
    min-width: 200px;
}    

.block__header {
    height: 8%;
    width: 100%;
    border: 2px solid black;
}

.block__footer {
    height: 12%;
    width: 100%;
    border: 2px solid black;
}

.block__login-form {
    
}
