.rotate__right_12deg {
    -moz-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
}

.rotate__left_12deg {
    -moz-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
}
